@import url("https://fonts.googleapis.com/css2?family= Poppins: wght @100;200;400;600 & display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);

  --Very-Dark-Blue: hsl(234, 12%, 34%);
  --Grayish-Blue: hsl(229, 6%, 66%);
  --Very-Light-Gray: hsl(0, 0%, 98%);

  --font-poppins: "Poppins", arial, sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 61.5rem;
  height: auto;
  margin: 7rem 0rem 7rem;
}

.header h1 {
  text-align: center;
  font-family: var(--font-poppins);
  font-weight: 100;
  font-size: min(4.5rem, 10vw);
}

.header h2 {
  text-align: center;
  font-family: var(--font-poppins);
  font-weight: 600;
  font-size: min(4.5rem, 10vw);
  margin: 2rem 0rem 2rem;
}

.header .header-description {
  text-align: center;
  font-family: var(--font-poppins);
  font-size: 2rem;
  font-weight: 200;
  color: var(--Grayish-Blue);
}

.container {
  width: 125.2rem;
  height: 59rem;
  display: flex;
  align-items: center;
  justify-content: center;
}


.card {
  /* width: 34.5rem;
    height: 24.5rem; */
  width: 37.5rem;
  height: 27.5rem;
  padding: 4rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0rem 0.8rem 0.6rem -0.1rem rgba(128, 128, 128, 0.219);
}

.card .card-title {
  font-family: var(--font-poppins);
  font-weight: 600;
  font-size: 2.5rem;
}

.card .card-description {
  font-family: var(--font-poppins);
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 1rem 0rem 1rem;
  color: var(--Grayish-Blue);
}

.card-image {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
}

.vartical-cards {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0rem 5rem 0rem;
}


.card-1 {
  border-top: 4px solid var(--Cyan);
}

.card-2 {
  border-top: 4px solid var(--Red);
}

.card-3 {
  border-top: 4px solid var(--Orange);
}

.card-4 {
  border-top: 4px solid var(--Blue);
}


@media (max-width:1255px){
  .card{
      width: 34.5rem;
    height: 24.5rem;
  }
}

@media (max-width:1200px){
  .container{
    height: auto;
    flex-direction: column;
  }

  .card{
    margin: 0rem 0rem 3rem;
  }
}